* {
    text-align: center;
    font-family: 'Press Start 2P', monospace; /* Aplica la fuente pixelada */
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #949493;
}
.logo {
    max-width: 200px;
    margin-bottom: 20px;
}
.btn {
    padding: 0.625rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    text-decoration: none;
    display: inline-block;
    font-family: 'Press Start 2P', monospace; /* Aplica la fuente pixelada al botón */
}
p {
    color: black;
    font-family: 'Press Start 2P', monospace; /* Aplica la fuente pixelada */
}
h2 {
    color: black;
    font-family: 'Press Start 2P', monospace; /* Aplica la fuente pixelada */
}