/* *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #949492;
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
}

body
{
    font-family: 'Roboto', sans-serif;
}


.form-group
{
    margin-bottom: 1.25rem;
}



.login-container
{
   display: flex;
   align-items: center;
    justify-content: center;
}

.form-group input
{
    width: 40%;
    padding: 0.625rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn
{
    width: 45%;
    padding: 0.625rem 0.75rem;
} */