body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.post-container {
    width: 500px;
    background-color: #d3d3d3;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}

.date {
    font-size: 12px;
    color: #555;
}

.post-content {
    background: #d3d3d3;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.reply-button {
    display: inline-block;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.reply-button:hover {
    background-color: #ddd;
}


.post-content p{
    font-family: 'Jarkar Plus Sans', sans-serif;

}