* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< Updated upstream
   /* Fondo gris */
=======
    background: url("../Gif/1224149.png") no-repeat   fixed ;
    background-size: cover;
>>>>>>> Stashed changes
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
}


body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-container {
    width: 100%;
    max-width: 500px; /* Aumentar el ancho máximo de la caja */
    /* Aumentar el padding para más espacio interno */
    
}

.login-container
{
    background-color: #949492;
    padding: 2.5em;
    border-radius: 15px;
}

.login-container img {
    width: 100%;
    margin-bottom: 1.5rem;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.25rem;
}

.form-group input {
    width: 100%;
    padding: 0.625rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

/* Contenedor de los campos organizados */
.inputform {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

/* Contenedor para los campos en paralelo */
.form-group-half {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}

/* Los campos en paralelo deben ocupar un 48% del contenedor */
.form-group-half .form-group {
    width: 48%;
}

/* Ajustar el botón */

.btn
{
    margin-bottom: 1.25em;
    margin-top: 1.25em;
    width: 100%;
    padding: 0.625rem 0.75rem;
}


.options p {
    text-align: center;
    margin-top: 1rem;
}

.options a {
    color: #007bff;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}