* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
}


body
{  
    background-image: url('https://i.pinimg.com/originals/1b/83/dc/1b83dce6c2a59c92d2dfdd14df85c377.gif');
    background-size: cover; 
    background-repeat: repeat; 
    font-family: 'Roboto', sans-serif;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.login-container {
    width: 100%;
    max-width: 500px; 
}

.login-container
{
    background-color: #949492;
    padding: 2.5em;
    border-radius: 15px;
}

.login-container img {
    width: 100%;
    margin-bottom: 1.5rem;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.25rem;
}

.form-group input {
    width: 100%;
    padding: 0.625rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.inputform {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.form-group-half {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}

.form-group-half .form-group {
    width: 48%;
}


.btn
{
    margin-bottom: 1.25em;
    margin-top: 1.25em;
    width: 100%;
    padding: 0.625rem 0.75rem;
}


.options p {
    text-align: center;
    margin-top: 1rem;
}

.options a {
    color: #003a77;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

.message {
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 1rem;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}

input.error-border {
    border: 2px solid red !important;
    outline-color: red;
}

input.success-border {
    border: 2px solid green !important;
    outline-color: green;

}

.weak-password {
    color: red;
    text-align: center;
    font-weight: bold;
}

/* Estilo para contraseñas fuertes */
.strong-password {
    color: green;
    text-align: center;
    font-weight: bold;
}

